<div *ngFor="let comment of comments" [style.padding-left]="getIndent(depth)">

  <mat-card class="comment-card">

    <mat-card-header>
      <mat-card-subtitle>
        <div>Posted by {{ comment.author_username }}</div>
        <p class="post-date">{{ comment.created_at | dateAgo }}</p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ comment.content }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions>
      <p> {{ comment.vote_count }}</p>
      <button mat-icon-button matTooltip="Upvote" (click)="voteOnComment(comment.id, 1)">
        <mat-icon>arrow_circle_up</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Downvote" (click)="voteOnComment(comment.id, -1)">
        <mat-icon>arrow_circle_down</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Reply" (click)="openCommentDialog(comment.post, comment.id)">
        <mat-icon>reply</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-footer>
    </mat-card-footer>
  </mat-card>

  <div class="comment-replies" *ngIf="comment.replies">
    <app-comment-tree [comments]="comment.replies" [depth]="depth + 1"></app-comment-tree>
  </div>
</div>
