.comment-card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 600px;
  word-wrap: break-word;
}

mat-card-subtitle {
  color: orange;
  display: flex;
  align-items: center;
}


.post-date {
  margin-left: 50px;
}

mat-card-footer {
  border-top: 3px solid orange;
}
