form {
  display: grid;
  margin: 2rem;
}


mat-form-field {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

mat-card{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 25rem;
  margin-right: 25rem;
}

button {
  margin-left: 20rem;
  margin-right: 20rem;
}

.register-button {
  margin-left: 25rem;
  margin-right: 25rem;
  margin-top: 20px;
}

h1 {
  color: orange;
  text-align: center;
}
