<mat-toolbar color="primary">
  <div class="item-container">
    <button mat-icon-button [routerLink]="'/trending'">
      <mat-icon>home</mat-icon>
    </button>
    <label>Social network</label>
</div>
  <div class="search-container">
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput #searchValue placeholder="Search..." (keydown.enter)="search(searchValue.value)">
    </mat-form-field>
  </div>
  <div class="item-container">
    <label *ngIf="this.authService.isLoggedIn()">{{ this.getUsername() }}</label>
    <button mat-icon-button *ngIf="!this.authService.isLoggedIn()" [routerLink]="'login'" matTooltip="Login">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button *ngIf="this.authService.isLoggedIn()" (click)="logout()" [routerLink]="'login'" matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

