.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 15px;
}

.mat-form-field {
  width: 300px;
  margin: 0;
  padding: 0;
  border-radius: 34px;
}

.item-container {
  display: flex;
  align-items: center;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}
