mat-card {
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    word-wrap: break-word;
}

mat-card-subtitle {
  color: orange;
  display: flex;
  align-items: center;
}

.posted-by-container {
  margin-left: 50px;
}

mat-card-footer {
  border-top: 3px solid orange;
}

.post-date {
  margin-left: 50px;
}

mat-card-header {
  margin-top: 0px;
  padding-top: 0px;
}

mat-card-header:hover {
  background-color: #4b4b4b;
  cursor: pointer;
}

mat-card-title {
  margin-bottom: 10px;
}
