<div class="container">
<div>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="hot">Hot</mat-button-toggle>
    <mat-button-toggle value="new">New</mat-button-toggle>
    <mat-button-toggle value="top">Top</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-card class="post-card" *ngFor="let post of posts">
    <mat-card-header>
      <mat-card-subtitle class="post-subtitle">
        <div class="posted-by-container">Posted by {{ post.author_username }}</div>
        <p class="post-date">{{ post.created_at | dateAgo }}</p>
      </mat-card-subtitle>
      <mat-card-title>{{ post.title }}</mat-card-title>

    </mat-card-header>

    <mat-card-content>
      <p> {{ post.content }} </p>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions>
      <p> {{ post.vote_count }}</p>
      <button mat-icon-button matTooltip="Upvote">
        <mat-icon>arrow_circle_up</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Downvote">
        <mat-icon>arrow_circle_down</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Comments">
        <mat-icon>comment</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer class="post-footer">

    </mat-card-footer>
  </mat-card>
</div>
  <mat-card>
    <mat-card-header>
      <!-- <mat-card-subtitle class="post-subtitle">
        <div class="posted-by-container">Posted by {{ post.author_username }}</div>
      </mat-card-subtitle> -->
      <mat-card-title>Community</mat-card-title>

    </mat-card-header>

    <mat-card-content>
      <p> something </p>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button matTooltip="Comments">
        <mat-icon>comment</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer class="post-footer">

    </mat-card-footer>
  </mat-card>



</div>
