<mat-sidenav-container>

  <mat-sidenav #sidenav opened [mode]="'side'">
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/communities'">
        <div class="item-container">
          <mat-icon>view_agenda</mat-icon>
          <a class="item-text">Communities</a>
        </div>
      </a>

      <a mat-list-item [routerLink]="'/trending'">
        <div class="item-container">
          <mat-icon>trending_up</mat-icon>
          <a class="item-text">Trending</a>
        </div>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
